@import url('https://fonts.googleapis.com/css?family=Raleway:600,900&subset=latin-ext');

* {
  margin:0;
  padding:0;
}

header {
  display:flex;
  position:absolute;
  width:100%;
  height:50px;

  background-color:#472393;
}

aside {
  position:absolute;
  top:50px;
  height:calc(100% - 50px);
  left:0;
  width:70%;

  transition:0.33s all;

  background-color:#2E175E;
}

.hide {
  left:-70%;
}

content {
  position:absolute;
  top:50px;
  width:100%;
  height:calc(100% - 50px);
  background-color:#020514;
}

#menuExpand {
  position:relative;
  height:100%;
  width:45px;
  font-size: 45px;
  text-align:center;
  padding: 0 5px 0 5px;
  transition:0.33s all;
}



#menuExpand:active {
  background-color:#3B1D79;
}

#title {
  font-family:"Raleway", "Open Sans", "Segoe UI", "San Francisco", "Helvetica", sans-serif;
  font-size:45px;
  font-weight:800;
  color:#7180B9;
  margin:auto;
}

.lineNumbers {
  
}

@media (min-width: 768px) {
  aside {
    width:45%;
  }

  .hide {
    left:-45%;
  }
}

@media (min-width: 1280px) {
  aside {
    width:20%;
  }

  .hide {
    left:-20%;
  }
  #menuExpand:hover {
  background-color:#57379C;
  }

}