.background-image {
background-image:none !important;
}
.postblock-read .postinner > .postuser .background-image::after {
background:none;
}

.has-background-image {
background:none !important;
}

.postinner {
background:url(https://facepunch.com/fp/postbitback_old.png) repeat-y #fff !important;
}

.postrender .postinner > .postuser {
border-right:0 !important;
}

.postcontent {
font-family: Tahoma,Helvetica,Arial,Verdana !important;
font-size:10pt !important;
background:none !important
}

.posthead {
 background: repeat-x #ccc !important;

border: 1px solid #777 !important;

border-left-width: 0 !important;

border-right-width: 0 !important;

font: 10px Tahoma,Calibri,Verdana,Geneva,sans-serif !important;

line-height: 15px !important;

padding: 3px 10px !important;

height:24px !important;
}

#wrapper #content .postlist .forumpanel {
 border-bottom:none!important;
}
